*{
    box-sizing: border-box;

}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.accordion{
    box-shadow: rgba(122, 122, 218, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    width: 600px;
    padding: 20px;
    border-radius: 30px 50px 100px 50px ;
    margin-bottom: 30px;
}
.accordionTitle{
    display: flex;
    justify-content: space-between;
}
.active{
    display: none;
}
.accordionButton{
    border:none;
    cursor:pointer;
    color: #460002;
    font-size: 24px;
    background: none;
}
.accordionTitle p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: coral;
    font-weight: bolder;
}
.accordionText{
    border-top: 1px solid black;
    padding: 10px 0;
}